{% extends 'base.html'%} {% block content %}

<div class ="row">
    <div class="col-6">
        <h1>Results</h1>
    </div>
    <div class="col-6">
        <a href="{{url_for('view_all')}}"><h5>Back to search</h5></a>
    </div>
    <div class="col-6">
        <h6>Search Results : {{ count }}</h6>
    </div>
</div>
<div>
    <h1>{{ location }}</h1>
</div>
<br> 

{% for item_value in summary %}
    <div class="row">
        <div class="col-12 col-md-6">
          <a href="{{ url_for('view_location', location_id=item_value['_id'] ) }}"><h4>{{ item_value.name }}</h4></a>
          <p>{{ item_value.address }}</p>
      </div>
    </div>
        
    <div class="row">
        <div class="col-12 col-md-6">
            {% include 'stars.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 resize">
          <img class="img-fluid" src="/static/images/cafecarousel.jpg">
        </div>
    </div>


{% endfor %} {% endblock %}
