<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alt Work</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css" />

</head>

<body>
    
<div class="row">
    <div class="col-6 quarters one">
        <img class="img-fluid" src="/static/images/Alt.jpg">
    </div>
    <div class="col-6 quarters two">
        
        <blockquote class="blockquote">
        <a class="landing-page-link-top" href="{{url_for('view_all')}}"><h5>Find a place to work</h5></a>
        <a class="landing-page-link-bottom" href="{{url_for('add_new')}}"><h5>Add new Alt_work location</h5></a>
        
    </div>
</div>    
    
<div class="row">
    <div class="col-6 quarters three">
        <h5>Find ALTernative places to WORK that aren't your kitchen table.. or the couch.. or that rubbish cafe down the road that charges £3 for a coffee and wifi thats slower than your granda getting to the point of a story of his youth.</h5>
        <h5>(And find out whether they have what you need to get work done. Before you make the effort of changing out of your pjs, catching two trains and getting caught in the rain.. )</h5>
    </div>
    <div class="col-6 quarters four">
        <img class="img-fluid" src="/static/images/Work.jpg">
    </div>
</div>
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    
</body>

</html>