{% extends 'base.html'%} {% block content %}
<div>
  <h2>Search by location type or region...</h2>
</div>


<form action="{{ url_for('filteredtype') }}" method="POST">
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="selectCategory">Search by Category</label>
        <select class="custom-select type-select" id="type-select" name='type-select'>
              <option>Select a Location type</option>
                {% for location_type in loc_type %}
                  <option value="{{location_type.loc_type}}"> {{location_type.loc_type}}</option>
                {% endfor %}
        </select>
            <input type="submit" id='submit' class='btn btn-dark type-search' value="Search" />
    </div>
  </div>
</form>

<br>
<form action="{{ url_for('filteredregion') }}" method="POST">
  <div class="row">
    <div class="col-12 col-md-6">
        <select class="custom-select" id="region-select" name='region-select'>
              <option>Select a Region</option>
                {% for regions in region %}
              <option value="{{regions.area}}"> {{regions.area}}</option>
                {% endfor %}
        </select>
          <input type="submit" id="region-search" class='btn btn-dark type-search' value="Search"/>
    </div>
  </div>
</form>

<h2>...or see our top rated locations below</h2>

{% for key, value in summary.items() %}
<div class="row">
  <div class="col">
    <h1>{{ key }}</h1>
  </div>
</div>


  {% for item_value in value %}
    <div class="row">
        <div class="col-12 col-md-6">
          <a href="{{ url_for('view_location', location_id=item_value['_id'] ) }}"><h4>{{ item_value["name"] }}</h4></a>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
          <p>{{ item_value["address"] }}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 resize">
          <img class="img-fluid" src="/static/images/cafeplaceholder.jpg">
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-6">
          {% include 'stars.html' %}
        </div>
    </div>
    


{% endfor %} 
{% endfor %} 
 
{% endblock %}
