{% extends 'base.html'%} {% block content %}

<h1>Browse catergories</h1>

<h2>Browse by location type, or filter by feature</h2>

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/images/cafecarousel.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>See all Cafes</h5>
          <p>Click here - or scroll for all catergories</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/outsidecarousel.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>See all community spaces</h5>
          <p>Click here - or scroll for all catergories</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/restcarousel.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>See all restaurants & bars</h5>
          <p>Click here - or scroll for all catergories</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/libcarousel.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>See all libaries</h5>
          <p>Click here - or scroll for all catergories</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div>
  <h1>Filter on Alt_work location type and region</h1>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <label for="selectCategory">Search by Category</label>
    
 
      <select class="custom-select type-select" id="type-select">
            <option>Select a Location type</option>
              {% for location_type in loc_type %}
            <option value="{{location_type.loc_type}}"> {{location_type.loc_type}}</option>
              {% endfor %}
          </select>

      <select class="custom-select" id="region-select">
            <option>Select a Region</option>
              {% for regions in region %}
            <option value="{{regions.area}}"> {{regions.area}}</option>
              {% endfor %}
          </select>

      <button class="btn btn-dark dropdown-search" id="dropdown-search" >Search</button>

  
  </div>
</div>

{% for key, value in summary.items() %}
<div class="row">
  <div class="col">
    <h1>{{ key }}</h1>
  </div>
</div>

<div class="row">
  {% for item_value in value %}
  <a href="{{ url_for('view_location', location_id=item_value['_id'] ) }}"><h4>{{ item_value["name"] }}</h4></a>
  <p>{{ item_value["address"] }}</p>
</div>

<div class="row">
  <div class="col-12 col-md-6 resize">
    <img class="img-fluid" src="/static/images/cafeplaceholder.jpg">
  </div>
  <div class = "row">
    <div class = "col-md-6">
    {% include 'stars.html' %}
    </div>
  </div>
</div>


{% endfor %} 
{% endfor %} 
 
{% endblock %}
